body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#app {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
}

h1, h2 {
    text-align: center;
    color: #007bff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #495057;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ced4da;
    padding-bottom: 8px;
}

p {
    font-size: 1.2em;
    text-align: center;
    margin-top: 16px;
    color: #28a745;
}
